{% extends 'index.html' %}

{% block content %}

<style>
    .nav-link {
        color: white;
    }

    .nav-link:hover{
        background-color: #91009c;
        color: white;
    }

    .active {
        color: purple;
        background-color: white;
    }

    

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="padding-left: 20;">HR_ART</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Hello, {{ session['fname'] }}</a>
        </li>
    </ul>
</nav>

<div class="container-fluid" style="margin-top: 3.5%;">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: purple;">
            <div class="sidebar-sticky" style="padding-top: 3%;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/reimbursements">
                            <span data-feather="users"></span>
                            Client Meetings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Apply for Leave <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reimbursements">
                            <span data-feather="users"></span>
                            Reimbursements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">
                            <span data-feather="bar-chart-2"></span>
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/emp_dash">
                            <span data-feather="bar-chart-2"></span>
                            Leaves Remaining
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <span data-feather="layers"></span>
                            <font color="white">Logout</font>
                        </a>
                    </li>
                </ul>

               
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4" style="min-height: 100vh;">
            <div class="container-fluid text-center">
                <div class="row" style="margin-top: 20vh;">
                    
                    <div class="col-sm">
                            <h3 style="text-align: left;">Leave Application</h3>
                            <br>
                            <form style="width: 92%;" method="POST" action="">
                                
                                <div class="form-row">
                                
                                <div class="form-group col-md-6 float-center">
                                    <select id="inputLeaveReason" class="form-control" name="reason" required>
                                        <option value="" disabled selected>Reason</option>
                                        <option value="Sick Leave">Sick Leave</option>
                                        <option value="Maternity Leave">Maternity Leave</option>
                                        <option value="Parental Leave">Parental Leave</option>
                                        <option value="Unpaid Leave">Unpaid Leave</option>
                                        <option value="Sabbatical Leave">Sabbatical Leave</option>
                                        <option value="Casual Leave">Casual Leave</opiton>
                                    </select>
                                    <!--<select id="inputLeaveReason" class="form-control">
                                        <option selected>Sick Leave</option>
                                        <option>Maternity Leave</option>
                                        <option>Paternal Leave</option>
                                        <option>Unpaid Leave</option>
                                    </select>-->
                                </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="inputEmail4" type="text" placeholder="From" onfocus="(this.type='date')" onblur="(this.type='text')" name="from" required>
                                    <!--<label for="inputDate1">From</label>
                                    <input type="date" class="form-control" id="inputDate1">-->
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="inputEmail4" type="text" placeholder="To" onfocus="(this.type='date')" onblur="(this.type='text')" name="to" required>
                                    <!--<label for="inputDate2">To</label>
                                    <input type="date" class="form-control" id="inputDate2">-->
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                <!--<button type="submit" class="btn btn-primary btn-round">Send for Admin's Approval</button>-->
                                <br>
                            </form>
                        
                    </div>  
                </div>
            </div>
            </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>

{% endblock %}